<link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
<link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/javascripts/Main.js"></script>



<!--<h1>Invoice</h1>-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Online Shopping Image</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a  data-toggle="modal" data-target="#myModal">User Purchasing Data</a>
                </li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<br>
<br>
<br>

<div class="row">
    <div class="container">
        <div class="jumbotron "  style="background:#98bf21;">
            <button id="ShowData" class="btn-primary " style="background-color:#337ab7;border-color:#2e6da4;color:white;width: 200px;padding: 12px;padding-left: 7px;">Client Purchasing List</button>
            <div id="showData"></div>
        </div>
    </div>
</div>