<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/javascripts/Main.js"></script>

<h1>Fruits Page</h1>
<label>Fruit Name:</label><input type="text" id="txtFruitName"/>
<button id="addBtn">sub</button>
<div id="showDataFruit">

</div>