<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/javascripts/sports.js"></script>
<h1>Sports Page</h1>
<label>Sports Item:</label><input type="text" id="sportsitem"/>
<button id="button">sub</button>
<div id="showDataFruit">

</div>